html {
    position: relative;
}

html, 
body,
.layout {
    min-height: 100%;
}

a {
    color: $color-font-secondary;

    &:hover {
        color: $color-font-secondary;
        text-decoration: none;
    }
}

ul {
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

button {
    outline: none;
    border: none;
    &:hover,
    &:active,
    &:focus {
        outline: none;
    }
}

input {
    &:hover,
    &:active,
    &:focus {
        outline: none;
    }
}