.button-danger {
    background: #BE3E35;
    color: $color-font-secondary;
    font-weight: weight(bold);
}

.button-success {
    background: $color-font-primary-dark;
    color: $color-font-secondary;
    font-weight: weight(bold);
}

.button-transparent {
    border: solid 2px rgba($color-font-secondary, .2);
    border-radius: 10px;  
    background-color: rgba($color-font-secondary, .1);
    color: $color-font-secondary;
    font-weight: weight(bold);

    &:hover,
    &:focus,
    &:active {
        background-color: rgba($color-font-secondary, .2);
        border: solid 2px rgba($color-font-secondary, .3);
    }
}