.card {
  &-games {
    @include flexy($dir: row, $just: center, $align: center);
    margin-bottom: 2.75rem;
    &-item {
      @include flexy($dir: column, $just: flex-end, $align: flex-start);
      @extend %y-padding;
      border-right: solid 2px $color-primary;
      min-height: 340px;
      height: 40vh;
      cursor: pointer;
      color: $color-font-secondary;
      position: relative;

      &:hover {
        .img-brand {
          transform: translate(-50%, -50%) scale(1.2);
        }
      }

      div {
        @include flexy($dir: column, $just: flex-end, $align: flex-start);
        z-index: 1000;

        button {
          @extend %y-padding;
          @extend %x-padding;
          margin-top: 0.75rem;
        }
      }

      .img-brand {
        position: absolute;
        top: 50%;
        left: 50%;
        transition: all 0.2s ease-in-out;
        transform: translate(-50%, -50%);
      }

      &:last-child {
        border: none;
      }

      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          background: linear-gradient(
            rgba(adjust-hue(#73030d, 35 * $i), 0.9),
            rgba(lighten(adjust-hue(#73030d, 35 * $i), 15%), 0.9)
          );
        }
      }
    }
  }

  &-admin {
    @include flexy($dir: row, $just: space-between, $align: center);
    padding: 0.45rem 0.75rem;
    border-bottom: 2px solid $color-font-primary;

    &-overview {
      border-radius: 10px;
      background: linear-gradient(
        15deg,
        $color-font-primary,
        darken($color-font-primary, 12%)
      );
      padding: 0.45 0.75rem;
      color: $color-font-secondary;
    }
  }

  &-admin:nth-of-type(2n) {
    background: $color-primary;
  }

  &-stat {
    @include flexy($dir: row, $just: flex-start, $align: center);
    border-radius: 10px;
    background: $color-primary;
    width: 95%;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.75rem;
    font-weight: weight(bold);

    &-highlight {
      background: $color-tertiary;
      margin-top: -10px;
    }

    &-info {
      @include flexy($dir: column, $just: center, $align: flex-start);
      color: $color-font-secondary;

      p {
        font-size: 16px;
        font-weight: weight(bold);
      }

      small {
        font-size: 16px;
        font-weight: weight(normal);
        font-size: 12px;
      }

      h5 {
        color: $color-font-primary;
        font-size: 20px;
        font-weight: weight(bold);
      }

      @include mq(small) {
        p {
          font-size: 12px;
          font-weight: weight(bold);
        }

        small {
          font-size: 12px;
          font-weight: weight(normal);
          font-size: 12px;
        }

        h5 {
          color: $color-font-primary;
          font-size: 16px;
          font-weight: weight(bold);
        }
      }

      @include mq(medium) {
        p {
          font-size: 12px;
          font-weight: weight(bold);
        }

        small {
          font-size: 12px;
          font-weight: weight(normal);
          font-size: 12px;
        }

        h5 {
          color: $color-font-primary;
          font-size: 16px;
          font-weight: weight(bold);
        }
      }
    }

    &-line {
      height: 90%;
      width: 2px;
      border-radius: 50%;
      background: $color-font-primary;
      border: none;
      margin-left: 0.45rem;
      margin-right: 0.45rem;
    }
  }

  &-season {
    &-legend {
      @include flexy($dir: row, $just: flex-start, $align: center);
      background: lighten($color-secondary, 4%);
      padding: 0.45rem 0.75rem;

      img {
        max-height: 120px;
        max-width: 120px;
      }

      @include mq(small) {
        img {
          display: none;
        }
      }
    }

    &-stats {
      @include flexy($dir: row, $just: flex-start, $align: center, $wrap: wrap);
      width: 100%;
    }
  }
}
