.card{
    &-stat {
        @include flexy($dir: row, $just: flex-start, $align: center);
        border-radius: 10px;
        background: $color-primary;
        width: 95%;
        height: 80px;
        margin-top: -10px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.25rem;
        font-weight: weight(bold);

        &-highlight {
            background: $color-tertiary;
        }

        &-info {
            @include flexy($dir: column, $just: center, $align: flex-start);
            color: $color-font-secondary;
            
            p {
                font-size: 16px;
                font-weight: weight(bold);
            }
        
            small {
                font-size: 16px;
                font-weight: weight(normal);
                font-size: 12px;
            }

            h5 {
                color: $color-font-primary;
                font-size: 20px;
                font-weight: weight(bold);
            }

            @include mq(small) {
                p {
                    font-size: 12px;
                    font-weight: weight(bold);
                }
            
                small {
                    font-size: 12px;
                    font-weight: weight(normal);
                    font-size: 12px;
                }
    
                h5 {
                    color: $color-font-primary;
                    font-size: 16px;
                    font-weight: weight(bold);
                }
            }

            @include mq(medium) {
                p {
                    font-size: 12px;
                    font-weight: weight(bold);
                }
            
                small {
                    font-size: 12px;
                    font-weight: weight(normal);
                    font-size: 12px;
                }
    
                h5 {
                    color: $color-font-primary;
                    font-size: 16px;
                    font-weight: weight(bold);
                }
            }
        }

        &-line {
            height: 90%;
            width: 2px;
            border-radius: 50%;
            background: $color-font-primary;
            border: none;
            margin-left: .45rem;
            margin-right: .45rem;
        }
    }
}