#overview {
    @extend %header;
}

header {
    height: 66px;
    z-index: 10000;
}

@include mq(small) {
    header {
        height: 42px;
    }
}

@include mq(medium) {
    header {
        height: 42px;
    }
}

.header {
    @extend %header;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: .8rem;
    &-main {
        padding: 1.25rem 0;

        .row {
            @include flexy($dir: row, $just: space-between, $align: center);
        }

        &-item {
            width: 50%;
            padding: 1.25rem;
            color: $color-font-secondary;

            h2 {
                span {
                    color: $color-font-primary;
                }
            }

            ul {
                @include flexy($dir: row, $just: flex-start, $align: center);
                @extend %y-margin;
                li {
                    width: 50%;
                    border: 2px solid $color-font-secondary;
                    font-size: 18px;
                    font-weight: weight(bold);
                    cursor: pointer;
                    transition: all .2s ease-in-out;
                    
                    &:nth-child(1) {
                        @include flexy($dir: row, $just: flex-start, $align: center);
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;

                        span{
                            @extend %x-padding;
                            border-left: 2px solid $color-font-secondary;
                        }

                        svg {
                            @extend %x-margin;
                        }
                    }

                    &:nth-child(2) {
                        @include flexy($dir: row, $just: flex-end, $align: center);
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;

                        span{
                            @extend %x-padding;
                            border-right: 2px solid $color-font-secondary;
                        }

                        svg {
                            @extend %x-margin;
                        }
                    }

                    span {
                        display: inline-block;
                        padding-top: .2rem;
                        padding-bottom: .2rem;
                    }

                    &:hover {
                        background: $color-font-secondary;
                        border: 2px solid $color-secondary;
                        color: $color-secondary;

                        &:nth-child(1) {
                            span{
                                border-left: 2px solid $color-secondary;
                            }
                        }

                        &:nth-child(2) {
                            span{
                                border-right: 2px solid $color-secondary;
                            }
                        }
                    }
                }
            }

            &:nth-child(2) {
                text-align: center;
            }
        }
    }
}