.input {
    &-grp {
        &-graph {

            input[type="radio"] {
                @extend %x-margin;
            }
        }
    }
}

.form {
    &-profile {
        padding: .75rem;
        @include flexy($dir: column, $just: center, $align: center);

        .input-group {
            width: 100%;
            margin-bottom: .75rem;
            @include flexy($dir: row, $just: flex-start, $align: center);

            &:hover label {
                background: lighten($color-font-primary-dark, 6%);
            }

            label {
                min-width: 80px;
                width: 25%;
                padding: .45rem .25rem;
                margin: 0;
                background: $color-font-primary-dark;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                text-align: center;
            }

            input,
            select {
                min-width: 200px;
                width: 75%;
                background: $color-secondary;
                color: $color-font-secondary;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                padding: .45rem .25rem;
                border: none;
            }
        }

        input[type="submit"] {
            padding: .25rem .45rem;
            outline: none;
            border: none;
            border-radius: 10px;

            &:hover {
                background: lighten($color-font-primary-dark, 6%);
            }
        }
    }

    &-header {
        @include flexy($dir: row, $just: space-between, $align: center);
        border-bottom: 2px solid $color-font-primary;
        padding: .45rem .75rem;

        button {
            border-radius: 50%;
            border: none;
        }
    }
}