.custom-shape-divider-bottom-1614267563 {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1614267563 svg {
    position: relative;
    display: block;
    width: calc(147% + 1.3px);
    height: 186px;
}

.custom-shape-divider-bottom-1614267563 .shape-fill {
    fill: #3D444B;
}