%y-padding {
    padding-top: .4rem;
    padding-bottom: .4rem;
}

%x-padding {
    padding-right: .4rem;
    padding-left: .4rem;
}

%y-margin {
    margin-top: .4rem;
    margin-bottom: .4rem;
}

%x-margin {
    margin-right: .4rem;
    margin-left: .4rem;
}

%header {
    @include flexy($dir: row, $just: space-between, $align: center);
    color: $color-font-secondary;
    background: $color-primary;
    width: 100%;
}

.bg-main-theme {
    background: linear-gradient(45deg, darken($color-font-primary, 20%), $color-font-primary);
}

.bg-dark-gray {
    background: $color-primary;
}

.bg-light-gray {
    background: $color-tertiary;
}